#user
{
	background-color:lavender;
	border: 5px solid black;
	margin-top: 5px;
	margin-bottom: 10px;	
}

#store
{
	background-color:lavenderblush;
	border: 5px solid yellow;
	margin-top: 5px;
	margin-bottom: 10px;	
}

#review
{
	background-color:lavender;
	border: 5px solid green;
	margin-top: 5px;
	margin-bottom: 10px;	
}





